*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(114, 118, 133);
}

img{
    width: 150px;
    height: 150px;
}

hr{
    width: 100%;
    margin: 20px 0;
    border: 1px solid rgb(0, 0, 0);
}

.container{
    width: 40vw;
    margin: auto;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 120px;
    
}